body {
    background-color: #f8f8f8;
    background-size: 100%;
    /* `content is not a valid property` */
    /*background-origin: content;*/
    background-repeat: repeat;
}

.panel-title {
    margin-top:15px;
    text-align: center;
    height: 40px;
    font-size: 1.7em;
    font-weight: bold;
    color: #777777; /* LJ */
}

.login-panel {
    margin-top: 15%;
}

.btn {
    background-color: #003035;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    margin: 4px 2px;
    cursor: pointer;
}
.btn:hover{
    background-color: #001214;
}

.btn:active:focus:disabled {
  color: #ffffff;
  background-color: #003035;
  border-color: #003035;
}


#login-main-frame {
    text-align: center;
}
