<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
</head>
<body>

<div>
    {% block header %}
        Header
    {% endblock %}

    {% block fos_user_content %}
    {% endblock fos_user_content %}

    {%  block footer %}
        Footer
    {% endblock %}
</div>
</body>
</html>